body {
    background-color: #fafafa;
}

.navbar-brand {
    font-size: 1.5rem;
    letter-spacing: 2px;
}

footer {
    background-color: #f8f9fa;
}

footer i {
    font-size: 1.3rem;
    color: #333;
}

footer i:hover {
    color: #000;
}

.nav-link {
    color: #333 !important;
}

.nav-link:hover {
    text-decoration: underline;
}

.home-hero {
    /* min-height: 70vh; */
    display: flex;
    flex-direction: column;
    /* justify-content: start; */
    margin-top: 20px;
    margin-bottom: 20px;
    /* border: 1px solid pink; */ /* for testing */
}



a {
    color: #000000;
    text-decoration: none;
}

.delete-edit {
    font-size: 12px;
    vertical-align: text-top;
    margin-top: 9px;
    opacity: 0.7;
}

.delete-edit:hover {
  opacity: 1;
}

#elevation-chart-container {
    position: relative; 
    height: 200px; 
    width: 100%;
}

.renew {
    margin: 8px;
}



.ride-card {
    padding: 15px;
    margin-bottom: 20px;
}

.ride-map {
    width: 100%;
    height: 220px;
}


.hero-video-bg {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 95%;
    object-fit: cover;
    z-index: -1;
}

.hero-row {
    min-height: 80vh;
    border: 1px solid white;
    padding-bottom: 20px;
}

#about-sugo {
    background-color: #f8f9fa;
    width: 100vw !important;
    padding: 10px;
}

#no-gpx {
    min-height: 400px !important;
    background-color: #efefef;
    border: 1px solid #b8b8b8;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .gpx-preview {
    height: 400px;
  }

  #upcoming-rides {
    font-size: 2.2rem;
  }

@media (max-width: 768px) {

  .navbar .dropdown i {
    font-size: 18px;
  }

  

  .hero-row {
    min-height: 70vh;
    border: 1px solid white;
    padding-bottom: 20px;
    margin: 10px;
}

  /* .hero-row {
    min-height: 65vh;
    border: 1px solid white;
} */

}